<div class="container">
  <h3>Todas las Juntas</h3>
  <table id="products" class="table table-sm"  class="table table-striped-columns">
    <tr>
      <th>#</th>
      <th><h6>Nominal</h6></th>
      <th><h6>Nominal1</h6></th>
      <th><h6>Linea o Sistema</h6></th>
      <th><h6>Especicación</h6></th>
      <th><h6>Schedule</h6></th>
      <th><h6>Tipo Extremo</h6></th>
      <th><h6>Tipo Material</h6></th>
      <th><h6>Material</h6></th>
      <th><h6>Pulgadas contabilizadas</h6></th>
      <th><h6>Factor Pulgadas Diametrales</h6></th>
      <th><h6>Pulgadas Diametrales</h6></th>


      <th></th>
    </tr>
    <tr *ngFor= "let junta of allJuntas; index as i">
      <div *ngIf="isLoading">Cargando juntas...</div>
      <td>{{i + 1}}</td>
      <td>{{ junta.nominal}}</td>
      <td>{{ junta.nominal1}}</td>
      <td>{{ junta.lineaOSistema}}</td>
      <td>{{ junta.especificacion}}</td>
      <td>{{ junta.schedule}}</td>
      <td>{{ junta.tipo_extremos}}</td>
      <td>{{ junta.tipo_material}}</td>
      <td>{{ junta.material}}</td>
      <td>{{ junta.diam_inch_contabilizadas}}</td>
      <td>{{ junta.factor_pulgadas_diametrales}}</td>
      <td>{{ junta.pulgadas_diametrales}}</td>


   <td><button type="button" class="btn btn-danger" (click)="onDeleteJunta(junta.id)">Delete</button></td>
   <td><button type="button"  class="btn btn-primary" (click)="onEditClicked(junta.id)">Edit</button></td>
    </tr>
  </table>
  <button type="button"  class="btn btn-primary" (click)="onJuntas()">Actualizar</button>
  <div *ngIf="showMessage" class="message">
    {{ messageText }}
  </div>
  <hr>
  <div class="action-btn-container">
    <button type="button"  class="btn btn-primary" (click)="onJuntas()">Recuperar juntas</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteAllJuntas()">Eliminar Juntas</button>
  </div>

</div>
